* {
    box-sizing: border-box;
    font-family: "JF-OPENHUNINN-1.1";
    margin: 0pt;
    text-align: justify;
    /* 左右對齊(英文)*/
    --ms-text-justify: inter-ideograph;
    --moz-text-align-last: justify;
    --webkit-text-align-last: justify;
    color: var(--dark);
}

body {
    background-color: rgb(200, 200, 200);
}

a {
    text-decoration: none!important;
    color: rgb(246, 246, 246)!important;
}

nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1vw 5vw;
    background-color: rgba(23, 23, 23, 1);
    justify-content: left;
    line-height: initial;
}

.nav-title {
    width: 100%;
    font-size: 3rem;
}

.item-box {
    display: flex;
    justify-content: flex-end;
}

.item {
    display: inline-block;
    margin: auto 2rem;
    font-size: 1.5rem;
}

.main-sec {
    position: relative;
    top: 3rem;
}

.row {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    border-radius: 20px;
}

.about-me {
    width: 50%;
    font-size: 1.3rem;
    padding: 2rem;
}

.pictures {
    width: 50%;
}

.pictures img {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.links-p {
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
}

.links {
    width: 100%;
    border: 0.3rem solid var(--dark);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0 auto;
}

.contact {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact a {
    display: block;
    margin: 0 1rem;
}

.contact svg {
    width: 4rem;
    border-radius: 0.5rem;
    fill: var(--dark);
}

#canvas {
    display: initial;
    width: 100%;
    height: 990px;
    position: absolute;
    top: 56px;
    left: 0;
    background: radial-gradient(#6dd5ed, #2193b0);
    z-index: -1;
    opacity: 0.7;
}

@media(max-width:1400pt) {
    nav {
        padding: 1vw 5vw;
    }
    .nav-title {
        width: 100%;
        font-size: 2rem;
        background-color: rgba(23, 23, 23, 1);
    }
    .item {
        width: auto;
        font-size: 1.5rem;
        margin: auto 20px;
    }
    #canvas {
        display: none;
    }
    .about-me {
        padding: 0;
        font-size: 1rem;
    }
    .links {
        padding: 0.8rem;
    }
    .links-p {
        margin-top: 0;
    }
    .contact svg {
        width: 3rem;
        border-radius: 0.5rem;
        fill: var(--dark);
    }
}

@media(max-width: 600pt) {
    nav {
        display: inline-block;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .nav-title {
        text-align: center;
        padding: 10px 0;
        font-size: 1.5rem;
    }
    .item-box {
        border-top: 5px rgba(220, 220, 220, 1) solid;
        justify-content: space-evenly;
    }
    .item {
        font-size: 1rem;
        margin: 5px;
    }
    .main-sec {
        width: auto;
        top: 2rem;
    }
    .container-fluid {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .row {
        width: 100%;
        height: 600px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .about-me {
        width: 45%;
        position: absolute;
        top: 1rem;
        left: 0;
        padding: 0.5rem;
        font-size: 1rem;
    }
    br {
        display: none;
    }
    .links-p {
        position: absolute;
        right: -100%;
        transform: translate(-15%,0);
    }
    .links {
        width:250px;
        position: absolute;
        right: -100%;
        transform: translate(-10%,50%);
        padding: 0.6rem;
    }
    .contact {
        display: flex;
        justify-content: center;
    }
    .contact svg {
        width: 2rem;
    }
    .pictures {
        position: absolute;
        top: 60px;
        right: 15px;
        height: 250px;
        overflow: hidden;
        border-radius: 20px;
    }
    .pictures img {
        position: absolute;
        width: 100%;
    }
    #canvas {
        display: none;
    }
}