*{
    box-sizing: border-box;
    font-family:"JF-OPENHUNINN-1.1";
    margin: 0pt;
    text-align: justify;    /* 左右對齊(英文)*/
    text-justify:inter-ideograph;   /*左右對齊*/
}

body{
    background-color: rgb(220,220,220);
}
a{
    text-decoration: none;
    color:rgb(50,50,50);
}
section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:auto;
    margin: 4vw 0;
}

.section1{
    width: 100%;
    height: 35vw;
    margin-top: 2vw;
}

nav{
    margin: 1.5vw 100px 0vw;
}

.nav-title{
    position: relative;
    top: -0.5vw;
    left: 3vw;
    font-size: 3vw;
}

.nav-btn{
    background-color: rgba(23,23,23,1);
    width: 40vw;
    height: 3.5vw;
    position: absolute;
    top: 1.24vw;
    right: 0vw;
    display: flex;
    justify-content: flex-start;
    border-radius: 80vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 4vw;
}

.nav-btn a{
    text-align: center;
    font-size: 1.3vw;
    color: white;

    transition: 0.5s;
    transition-timing-function: ease;
}

.a-hover{
    height: 100%;
    padding: 1.2rem 3rem;

    transition: 1s;
    transition-timing-function: ease;
}

.a-hover:hover{
    background-color: rgba(255,255,255,0.9);
    color: rgba(23,23,23,1);
}

.intro{
    display: inline-block;
    position: absolute;
    top: 14vw;
    left: 0;
    width: 50vw;
    height: auto;
    background-color: rgb(23,23,23);
    border-top-right-radius: 20vw;
    border-bottom-right-radius: 20vw;
    padding: 3vw;
    padding-left: 15vw;
    text-align: center;
    color: rgba(255,255,255,80);
}

.intro-content{
    margin: 0.5vw;
    text-align: center;
    font-size: 2vw;
}

.hashtag{
    color: rgba(100, 250, 255,1);
    font-size: 1.2vw;
    text-align: center;
}

.picture-box{
    position: absolute;
    vertical-align: middle;
    background-color: rgba(23,23,23,1);
    border-radius: 100vw;
    top: 11vw;
    left: 55vw;
    margin: auto;
}

.picture-box2{
    width: 30vw;
    height: 10vw;
    position: absolute;
    z-index: -1;
    top: 20vw;
    right: 0;
    background-color:  rgba(23,23,23,1);
}

.picture-box img{
    width: 28vw;
    height: auto;
}
.square-pic{
    display: none;
}
.content{
    position: relative;
    width: 60vw;
    outline: 0.2vw solid rgb(100, 250, 255);
    outline-offset: -2.5vw;
    background-color: rgb(23,23,23);
    color: rgba(255,255,255,80);
} 

.content-title{
    position: absolute;
    left: 5.2vw;
    padding: 0.9vw 0.9vw 0vw;
    font-size: 1.7vw;
    text-align: start;
    color: rgb(100, 250, 255);
    background-color: inherit;
}

.txt{
    font-size: 1.3vw;
    padding: 4.5vw 6vw 4vw;
    line-height: 2.5vw;
}

.btn-more{
    display: flex;
    justify-content: center;
    color: rgba(220,220,220,1);
    width: 20vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 0.12vw rgba(100, 250, 255,1) solid;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2vw;

    transition: 0.2s;
    transition-timing-function: ease;
}

.btn-more:hover{
    background-color: rgba(100, 250, 255,0.5);
}

.prev{
    display: flex;
    width: auto;
    height: 25vw;
    justify-content: space-around;
}

.prev-box{
    display: inline-block;
    width: 22vw;
    height: 22vw;
    overflow: hidden;
    position: relative;
}

.prev-left, .prev-right{
    width: 100%;
}

.figcaption{
    visibility: hidden;
    background-color: rgba(23,23,23,1);
    opacity: 0;
    text-align: center;
    width: inherit;
    height: inherit;
    padding-top: 10vw;
    position: absolute;
    bottom: 0;

    transition: 0.5s;
    transition-timing-function: ease;
}

.figcaption .title{
    display: block;
    font-size: 1.5vw;
    margin: 4vw 1vw 1vw;
    text-align: center;
}

.figcaption a{
    color: inherit;
    outline: 0.15vw solid rgba(100, 250, 255,1);
    background-color: rgba(100, 250, 255,0.3);
    padding: 0.4em 3em;
}

.prev-box:hover .figcaption{
    visibility: visible;
    opacity: 0.9;
    padding: 3.5vw 3vw 1vw;
}

footer{
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -1vw;
    padding: 0.5vw;
    background-color: rgba(23,23,23,1);
    color:rgba(255,255,255,0.95);
    text-align: center;
    font-size: 1.5vw;
}

footer p{
    text-align: center;
    font-size: 2vw;
}
footer h6{
    text-align: center;
}
.icon{
    height: 100%;
    text-align: center;
}
.icon svg{
    width: 2vw;
    fill: rgba(220,220,220,1);
    margin: 0.3vw 0.5vw;
}

/*----橫向平板----*/
@media(max-width: 1400px){
    .a-hover{
        padding: 1vw 2.5vw;
        transition: none;
        transition-timing-function: initial;
    }
    .prev{
        margin-top: 4vw;
        height: auto;
    }
    .prev-box{
        width: 42vw;
        height: 34vw;
    }
    .section3 .txt{
        padding-bottom: 5vw;
    }
    .figcaption{
        visibility: visible;
        opacity: 1;
        width: 100%;
        height: 10vw;
        position: absolute;
        bottom: 0;
        padding: 1vw 2vw;
        background-color: rgba(30,30,30,1);
    }
    .figcaption .title{
        display: block;
        font-size: 1.5vw;
        margin: 0vw;
        margin-bottom: 2vw;
        text-align: center;
    }
    .figcaption a{
        margin-bottom: 2vw;
    }
    .btn-more{
        width: 25vw;
        margin-top: 5vw;
        padding: 1vw;
    }
    .btn-more:hover{
        background-color: transparent;
    }
    .prev-box:hover .figcaption{
        visibility: visible;
        opacity: 1;
        padding: 1vw 2vw 3vw;
    }
}

/*----直向手機----*/
@media(max-width: 600pt){
    .picture-box, .picture-box2{
        display: none;
    }
    section{
        margin: 8vw 0vw;
    }
    
    
    nav{
        display:  block;
        margin: 0vw;
        height: auto;
    }
    .nav-title{
        position: relative;
        background-color: rgba(23,23,23,1);
        left: 0vw;
        padding: 1em 0em 0.1em;
        text-align: center;
    }
    .nav-title a{
        text-align: center;
        font-size: 1.2em;
        color: rgba(255,255,255,1);
    }
    .nav-btn{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 0vw;
        width: 100%;
        height: auto;
        background-color: rgba(220,220,220,1);
        border-radius: initial;
        padding: 0;
    }
    .nav-btn a{
        text-align: center;
        font-size: 0.5em;
        color: rgba(23,23,23,1);
    }
    .a-hover{
        padding: 0;
    }
    
    
    .section1{
        width: 100%;
        height: auto;
        margin-top: 0vw;
    }
    .intro{
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 0vw;
        right: 0vw;
        width: 100%;
        height: auto;
        border-radius: initial;
        padding: 3vw;
        color: rgba(255,255,255,80);
        background-color: rgb(23,23,23);
        z-index: -1;
    }
    .intro-content{
        display: table-cell;
        position: relative;
        width: auto;
        top: 0vw;
        left: 5vw;
        text-align: right;
        padding: 3vw 2vw 3vw 0vw;
        border-right: 0.5vw solid rgba(100, 250, 255,0.8);
    }
    .hashtag{
        margin-top: 1.5vw;
        display: inline-block;
        text-align: right;
        font-size: 2px;
    }
    
    .square-pic{
        display: flex;
        justify-content: space-around;
        position: relative;
        width: auto;
        height: 44vw;
        top: 0vw;
        right: -9vw;
    }
    .square-pic img{
        width: auto;
        height: inherit;
    }
    
    .content{
        width: auto;
        height: auto;
        outline: none;
        border-top: 3px solid rgba(100, 250, 255,1);
    }
    .txt{
        font-size: 0.1em;
        padding: 5vw 5.5vw 5vw;
        line-height: 4vw;
    }
    .content-title{
        display: block;
        position: absolute;
        top:-6vw;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 1vw 2vw 3vw;
        border-top: 3px solid rgba(100, 250, 255,1);
    }

    .prev{
        flex-wrap: wrap;
    }
    .prev-box{
        width: 55vw;
        height: 68vw;
        margin-bottom: 10px;
    }
    .figcaption{
        height: 13vw;
        position: absolute;
        bottom: 0;
        padding: 1vw 2vw;
        background-color: rgba(30,30,30,1);
    }
    .icon svg{
        width: 5vw;
        margin: 0.2vw 2vw;
    }
}